{% load static %}
<!-- Footer top area Start -->
<div class="footer footer-area black-footer">
    <div class="footer-top">
        <div class="container">
            <div class="row pt--80 pb--40 footer-widget-row">

                <!-- Footer Widget Start -->
                <div class="col-lg-4 col-md-8 col-sm-8">
                    <div class="footer-widget">
                        <h3 class="widget-title footer-widget-title">Categories</h3>
                        <div class="footer-logo-section-all">
                            <div class="footer-logo-text">
                                <a href="index-2.html"><img src=" {% static "assets/img/logo-2.png" %} " alt=""></a>
                            </div>
                            <p>If you want to Get all the latest information on Events, Sales and Offers. Sign up for newsletter today. Be the first to know</p>
                            <div class="subscribe">
                                <form action="#">
                                    <input placeholder="Enter Your Mail" type="email">
                                    <button value="Submit" type="submit" class="search-button"><i class="fa fa-paper-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer Widget End -->

                <!-- Footer Widget Start -->
                <div class="col-lg-2 col-md-4 col-sm-4">
                    <div class="footer-widget">
                        <h3 class="widget-title footer-widget-title">Quick Links</h3>
                        <div class="menu-widget footer-menu-widget">
                            <ul>
                                <li><a href="#">Login </a></li>
                                <li><a href="#">register </a></li>
                                <li><a href="#">Wishlist </a></li>
                                <li><a href="#">My Cart</a></li>
                                <li><a href="#">Checkout </a></li>
                                <li><a href="#">register </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Footer Widget End -->

                <!-- Footer Widget Start -->
                <div class="col-lg-3 col-md-5 col-sm-5">
                    <div class="footer-widget">
                        <h3 class="widget-title footer-widget-title">Get in touch</h3>
                        <div class="address-widget footer-address-widget">
                            <p><i class="fa fa-map-marker"></i>Lagos state <br>Nigeria</p>
                            <p><i class="fa fa-phone"></i>+234 09045508776</p>
                            <p><i class="fa fa-envelope"></i> <a href="mailo:dipxonnew@gmail.com">dipxonnew@gmail.com</a></p>
                            <p><i class="fa fa-whatsapp"></i> <a href="#">zeref12445</a></p>
                        </div>
                    </div>
                </div>
                <!-- Footer Widget End -->

                <!-- Footer Widget Start -->
                <div class="col-lg-3 col-md-7 col-sm-7">
                    <div class="footer-widget">
                        <h3 class="widget-title footer-widget-title">Business hour</h3>
                        <div class="footer-business">
                            <p>we always ready for the support in the working days.</p>
                            <ul>
                                <li>
                                    mon - fri <span>9.00 - 5.00 pm</span>
                                </li>
                                <li>
                                    saturday <span>9.00 - 2.00 pm</span>
                                </li>
                                <li>
                                    sunday <span>closed</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Footer Widget End -->


            </div>
        </div>
    </div>
</div>
<!-- Footer top area End -->
<!-- footer start -->
<footer class="black-footer-bottom">
    <div class="container">
        <div class="footer-bottom footer-area-bottom">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                   <div class="payment">
                        <ul>
                            <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                        </ul>
                    </div>
                </div>
                        
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- Copyright Text Start -->
                    <p class="copyright-text footer-copyright-text">
                        © 2023 <a href="#">Astro🚀</a>. All rights reserved
                    </p>
                    <!-- Copyright Text End -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->
</div>

