{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
       <!-- Hero/Intro Slider Start -->
       <div class="section">
        <div class="hero-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!-- Single Hero Slider Item Start -->
                    <div class="hero-slide-item-two swiper-slide">

                        <!-- Hero Slider Background Image Start-->
                        <div class="hero-slide-bg">
                            <img src="{% static 'assets/images/slider/slide-2.jpg' %}" alt="" />
                        </div>
                        <!-- Hero Slider Background Image End-->

                        <!-- Hero Slider Container Start -->
                        <div class="container">

                            <div class="row">
                                <div class="hero-slide-content col-lg-8 col-xl-6 col-12 text-lg-center text-left">
                                    <h2 class="title">
                                        Fashion New <br />
											Collection
                                    </h2>
                                    <p>Up to 70% off selected Product</p>
                                    <a href="shop-grid.html" class="btn btn-lg btn-primary btn-hover-dark">Shop Now</a>
                                </div>
                            </div>

                        </div>
                        <!-- Hero Slider Container End -->

                    </div>
                    <!-- Single Hero Slider Item End -->

                    <!-- Single Hero Slider Item Start -->
                    <div class="hero-slide-item-two swiper-slide">

                        <!-- Hero Slider Background Image Start -->
                        <div class="hero-slide-bg">
                            <img src="{% static 'assets/images/slider/slide-2-2.jpg' %}" alt="" />
                        </div>
                        <!-- Hero Slider Background Image End -->

                        <!-- Hero Slider Container Start -->
                        <div class="container">
                            <div class="row">
                                <div class="hero-slide-content col-lg-8 col-xl-6 col-12 text-lg-center text-left">
                                    <h2 class="title">
                                        Trend Fashion <br />
											Collection
                                    </h2>
                                    <p>Up to 30% off selected Product</p>
                                    <a href="shop-grid.html" class="btn btn-lg btn-primary btn-hover-dark">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Hero Slider Container End -->

                    </div>
                    <!-- Single Hero Slider Item End -->
                </div>

                <!-- Swiper Pagination Start -->
                <div class="swiper-pagination d-md-none"></div>
                <!-- Swiper Pagination End -->

                <!-- Swiper Navigation Start -->
                <div class="home-slider-prev swiper-button-prev main-slider-nav d-md-flex d-none"><i class="pe-7s-angle-left"></i></div>
                <div class="home-slider-next swiper-button-next main-slider-nav d-md-flex d-none"><i class="pe-7s-angle-right"></i></div>
                <!-- Swiper Navigation End -->

            </div>
        </div>
    </div>
    <!-- Hero/Intro Slider End -->



    <!-- Product Section Start -->
    <div class="section section-padding mt-0">
        <div class="container">
            <!-- Section Title & Tab Start -->
            <div class="row">
                <!-- Tab Start -->
                <div class="col-12">
                    <ul class="product-tab-nav nav justify-content-center mb-10 title-border-bottom mt-n3">
                        <div class="section-title m-0" data-aos="fade-in" data-aos-delay="300">
                            <div class="section-title mt-4 mb-4 text-left" data-aos="fade-in" data-aos-delay="300">
                                <h1 class="title">All Products</h1>
                              </div>
                              
                    </ul>
                </div>
                <!-- Tab End -->
            </div>
            <!-- Section Title & Tab End -->

            <!-- Products Tab Start -->
            <div class="row">
                <div class="col">
                    <div class="tab-content position-relative">
                        <div class="tab-pane fade show active"  id="tab-product-all">
                            <div class="product-carousel">
                                <div class="swiper-container">
                                <div class="swiper-wrapper">

        <!-- Product Start -->
        {% for product in products %}
       
        <div class="swiper-slide product-wrapper">

            <!-- Single Product Start -->
            <div class="product product-border-left mb-10" data-aos="fade-up" data-aos-delay="300">
                <div class="thumb">
                    <a href="single-product.html" class="image">
                        {% for image in product.images.all %}
                        <img class="{% if forloop.first %}first-image{% else %}second-image{% endif %}" src="{{ image.image.url }}" alt="Product" />
                    {% endfor %}
                    </a>
            <span class="badges">
                <span class="sale {% if product.is_available == 'available' %}in-stock{% elif product.is_available == 'out_of_stock' %}out-of-stock{% elif product.is_available == 'coming_soon' %}coming-soon{% elif product.is_available == 'new' %}new{% endif %}">
                    {{ product.get_is_available_display }}
                </span>
                    </span>

                    <div class="actions">
                        <a href="#" class="action wishlist">
                            <i class="pe-7s-like"></i>
                        </a>
                        <a href="#" class="action quickview" data-bs-toggle="modal" data-bs-target="#exampleModalCenter{{ product.id }}">
                            <i class="pe-7s-search"></i>
                        </a>
                        <a href="#" class="action compare">
                            <i class="pe-7s-shuffle"></i>
                        </a>
                    </div>
                </div>
                <div class="content">
                    <h4 class="sub-title"><a href="single-product.html">{{ product.category.category_name }}</a></h4>
                    <h5 class="title">
                        <a href="single-product.html">{{ product.product_name }}</a>
                    </h5>
                    <span class="ratings">
                            <span class="rating-wrap">
                                <span class="star" style="width: 100%"></span>
                    </span>
                    <span class="rating-num">(4)</span>
                    </span>
                    

                    {% with humanize.currency_symbol|default:"₦" as symbol %}
                    <span class="price">
                        <span class="new">{{ symbol }} {{ product.price|floatformat:2|intcomma }}</span>
                        {% if product.discount_price %}
                        <span class="old">{{ symbol }} {{ product.discount_price|floatformat:2|intcomma }}</span>
                        {% endif %}
                    </span>
                    {% endwith %}
                    




                    <button class="btn btn-sm btn-outline-dark btn-hover-primary">Add To Cart</button>
                </div>
            </div>
            
            <!-- Single Product End -->

        </div>
      
        {% endfor %}

                                </div>

                                    <!-- Swiper Pagination Start -->
                                    <div class="swiper-pagination d-md-none"></div>
                                    <!-- Swiper Pagination End -->

                                    <!-- Next Previous Button Start -->
                                    <div class="swiper-product-button-next swiper-button-next swiper-button-white d-md-flex d-none"><i class="pe-7s-angle-right"></i></div>
                                    <div class="swiper-product-button-prev swiper-button-prev swiper-button-white d-md-flex d-none"><i class="pe-7s-angle-left"></i></div>
                                    <!-- Next Previous Button End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Products Tab End -->
        </div>
    </div>
    <!-- Product Section End -->
{% endblock  %}