{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
      
    <!--slider area start-->
    <section class="slider_section mb-100">
        <div class="slider_area owl-carousel">
            <div class="single_slider d-flex align-items-center" data-bgimg="assets/img/slider/slider1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="slider_content">
                                <h2>Get 30% Off &amp; Free Shipping </h2>
                                <h1>SUmmer sale</h1>
                                <p>
								An exclusive selection of this season’s trends. <span>Exclusively online </span>
							     </p>
                                <a href="shop.html">Shop Now +</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider d-flex align-items-center" data-bgimg="assets/img/slider/slider2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="slider_content">
                                <h2>Big sale up to 20% off </h2>
                                <h1>london style </h1>
                                <p>
								An exclusive selection of this season’s trends. <span>Exclusively online </span>
							     </p>
                                <a href="shop.html">Shop Now </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--slider area end-->
    
    <!--banner area start-->
    <div class="banner_area mb-95">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-6 col-md-6">
                    <div class="single_banner">
                        <div class="banner_thumb">
                            <a href="shop.html"><img src="{% static 'assets/img/bg/banner1.jpg' %}" alt=""></a>
                            <div class="banner_text1">
                                <div class="banner_text1_inner">
                            		<h3>Men’s <br> Collections</h3>
                            		<a href="shop.html">shop now</a>
                            	</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single_banner">
                        <div class="banner_thumb">
                            <a href="shop.html"><img src="{% static 'assets/img/bg/banner2.jpg' %}" alt=""></a>
                            <div class="banner_text1">
                                <div class="banner_text1_inner">
									<h3>Women’s <br> Collections</h3>
									<a href="shop.html">shop now</a>
                            	</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--banner area end-->
    
    <!--categories product area start-->
    <div class="categories_product_area   mb-92">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_title">
                       <h2>Top Categories</h2>
                    </div>
                </div>
            </div> 
            <div class="row">
               <div class="product_carousel product_column4 owl-carousel">
                   <div class="col-lg-3">
                        <article class="single_categories">
                            <figure>
                                <div class="categories_thumb">
                                    <a href="product-details.html"><img src="{% static 'assets/img/s-product/category1.jpg' %}" alt=""></a>
                                </div>
                                <figcaption class="categories_content">
                                    <h4 class="product_name"><a href="shop.html">t-shirt</a></h4>
                                   <div class="product_collection">
										<p>13 Products</p>
										<a href="shop.html">+ Shop Collection</a>
                                    </div>
                                </figcaption>
                            </figure>
                        </article>
                   </div>
                   <div class="col-lg-3">
                        <article class="single_categories">
                            <figure>
                                <div class="categories_thumb">
                                    <a href="product-details.html"><img src="{% static 'assets/img/s-product/category2.jpg' %}" alt=""></a>
                                </div>
                                <figcaption class="categories_content">
                                    <h4 class="product_name"><a href="shop.html">Blazer</a></h4>
                                   <div class="product_collection">
										<p>13 Products</p>
										<a href="shop.html">+ Shop Collection</a>
                                    </div>
                                </figcaption>
                            </figure>
                        </article>
                   </div>
                   <div class="col-lg-3">
                        <article class="single_categories">
                            <figure>
                                <div class="categories_thumb">
                                    <a href="product-details.html"><img src="{% static 'assets/img/s-product/category3.jpg' %}" alt=""></a>
                                </div>
                                <figcaption class="categories_content">
                                    <h4 class="product_name"><a href="shop.html">jacket</a></h4>
                                   <div class="product_collection">
										<p>13 Products</p>
										<a href="shop.html">+ Shop Collection</a>
                                    </div>
                                </figcaption>
                            </figure>
                        </article>
                   </div>
                   <div class="col-lg-3">
                        <article class="single_categories">
                            <figure>
                                <div class="categories_thumb">
                                    <a href="product-details.html"><img src="{% static 'assets/img/s-product/category4.jpg' %}" alt=""></a>
                                </div>
                                <figcaption class="categories_content">
                                    <h4 class="product_name"><a href="shop.html">Dress</a></h4>
                                   <div class="product_collection">
										<p>13 Products</p>
										<a href="shop.html">+ Shop Collection</a>
                                    </div>
                                </figcaption>
                            </figure>
                        </article>
                   </div>
                   <div class="col-lg-3">
                        <article class="single_categories">
                            <figure>
                                <div class="categories_thumb">
                                    <a href="product-details.html"><img src="{% static 'assets/img/s-product/category2.jpg' %}" alt=""></a>
                                </div>
                                <figcaption class="categories_content">
                                    <h4 class="product_name"><a href="shop.html">Blazer</a></h4>
                                   <div class="product_collection">
										<p>13 Products</p>
										<a href="shop.html">+ Shop Collection</a>
                                    </div>
                                </figcaption>
                            </figure>
                        </article>
                   </div>
               </div>
           </div>   
        </div> 
    </div>
    <!--categories product area end-->
    
    <!--product area start-->
    <div class="product_area  mb-95">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_title product_shop_title">
                       <h2>Featured products </h2>
                    </div>
                    <div class="product_shop_collection">
                    	<a href="shop.html">Shop all collection</a>
                    </div>
                </div>
            </div> 
            <div class="row">
               <div class="product_carousel product_column5 owl-carousel">
                {% for product in products %}
                   <div class="col-lg-3">
                       <div class="product_items">
                            <article class="single_product">

                
                <figure>
                    
                    <div class="product_thumb">
                        <a class="primary_img" href="product-details.html"><img src="{% static 'assets/img/product/product1.jpg' %}" alt=""></a>
                        <a class="secondary_img" href="product-details.html"><img src="{% static 'assets/img/product/product2.jpg' %}" alt=""></a>
                        <div class="label_product">
                            <span class="label_sale">Sale</span>
                        </div>
                        <div class="action_links">
                            <ul>
                                <li class="quick_button"><a href="#" data-bs-toggle="modal" data-bs-target="#modal_box"  title="quick view"> <span class="pe-7s-search"></span></a></li>
                                <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><span class="pe-7s-like"></span></a></li>
                                <li class="compare"><a href="#" title="Add to Compare"><span class="pe-7s-edit"></span></a></li>                                                 
                            </ul>
                        </div>
                    </div>
                        <figcaption class="product_content">
                            <div class="product_content_inner">
                                <h4 class="product_name"><a href="product-details.html">{{ product.product_name }}</a></h4>
                                <div class="price_box"> 
                                    <span class="old_price">$84.00</span>
                                    <span class="current_price">$79.00</span>
                                </div>
                            </div>
                            <div class="add_to_cart">
                                <a href="cart.html">Add to cart</a>
                            </div>
                        </figcaption>
                        
                </figure>
                






                    </article>
                        </div>
                   </div>
                   {% endfor %}
                   
               </div>
           </div>   
        </div> 
    </div>
    <!--product area end-->
   

    

{% endblock  %}