{% extends "base.html" %}
{% block title %}{{ product.product_name }}{% endblock %}
{% load static %}
{% load humanize %}
{% block content %}
  <!--breadcrumbs area start-->
  <div class="breadcrumbs_area">
    <div class="container">   
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="{% url 'home' %}">home</a></li>
                        <li>{{product.product_name}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>         
</div>
<!--breadcrumbs area end-->

<!--product details start-->
<div class="product_details mb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <div class="product-details-tab">
                    <div id="img-1" class="zoomWrapper single-zoom">
                        <a href="#">
                            <img id="zoom1" src="{{ product.product_images.first.image.url }}" data-zoom-image="{{ product.product_images.first.image.url }}" alt="{{ product.product_name }}">
                        </a>
                    </div>
                    <div class="single-zoom-thumb">
                        <ul class="s-tab-zoom owl-carousel single-product-active" id="gallery_01">
                            {% for image in product.product_images.all %}
                            <li>
                              <a href="#" class="elevatezoom-gallery {% if forloop.first %}active{% endif %}" data-image="{{ image.image.url }}" alt="zo-th-{{ forloop.counter }}">
                                <img src="{{ image.image.url }}" alt="zo-th-{{ forloop.counter }}"/>
                              </a>
                            </li>
                          {% endfor %}
                          
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="product_d_right">
                   <form id="myForm">
                    {% csrf_token %}
                        <div class="productd_title_nav">
                            <h1>
                                <a href="#">{{product.product_name}}</a>
                            </h1>
                        </div>
                        
                        {% with humanize.currency_symbol|default:"$" as symbol %}
                        <div class="price_box">
                            {% if product.old_price %}
                            <span class="old_price">
                                {{ symbol }}{{ product.old_price|floatformat:2|intcomma }}</span>
                            {% endif %}
                            <span class="current_price">{{ symbol }}{{ product.price|floatformat:2|intcomma }}</span>
                        </div>
                        {% endwith %}
                        <div class="product_desc">
                            <p>{{product.description}}</p>
                        </div>
                        <!-- <div class="product_variant color">
                            <h3>Available Options</h3>
                            <label>color</label>
                            <ul>
                                <li class="color1"><a href="#"></a></li>
                                <li class="color2"><a href="#"></a></li>
                                <li class="color3"><a href="#"></a></li>
                                <li class="color4"><a href="#"></a></li>
                            </ul>
                        </div> -->
                        <div class="product_variant quantity">
                            <label>quantity</label>
                            <input value="1" type="number">
                            <input type="hidden" name="product_id" id="productId" value="{{ product.product_id }}">
                            <button class="button" type="submit">add to cart</button>  
                            
                        </div>
                        <!-- <div class=" product_d_action">
                           <ul>
                               <li><a href="#" title="Add to wishlist">+ Add to Wishlist</a></li>
                           </ul>
                        </div> -->
                        <div class="product_meta">
                            <span>Category: 
                                <a href="{% url 'products_by_category' category_id=product.category.unique_id %}">
                                    {{ product.category.category_name }}
                                </a>
                            </span>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>    
</div>
<!--product details end-->
    {% endblock  %}