{% extends "base.html" %}
{% block title %}
    {% if query %}
        Search Results for: {{ query }}
    {% else %}
        Shop 🛒
    {% endif %}
{% endblock %}
{% load static %}

{% block content %}

  <!--breadcrumbs area start-->
  <div class="breadcrumbs_area">
    <div class="container">   
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    {% if search in request.path %}
                    <h3>Search Result</h3>
                    {% else %}
                    <h3>Our Store</h3>
                    {% endif %}
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>shop</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>         
</div>
<!--breadcrumbs area end-->

<!--shop  area start-->
<div class="shop_area shop_reverse mb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
               <!--sidebar widget start-->
                <aside class="sidebar_widget">
                    <div class="widget_inner">
                        <div class="widget_list widget_categories">
                            <h3>
                                {{ categories.count }}
                                 {% if categories.count == 1 %}
                                 Category
                                 {% else %}
                                 Categories
                                 {% endif %}
                                </h3>
                            <ul>
                                <li class="">
                                    {% for c in categories %}
                                    <a href="{% url 'category-product-list' c.cid %}">{{c.title}}     <span>({{c.category.count}})</span></a></a>
                                    {% endfor %}
                                    
                                </li>
                                
                            </ul>
                        </div>
                        <div class="widget_list widget_filter">
                            <h3>Filter by price</h3>
                            <form action="#"> 
                                <div id="slider-range"></div>   
                                <button type="submit">Filter</button>
                                <input type="text" name="text" id="amount" />   
                            </form> 
                        </div>
                        <div class="widget_list widget_color">
                            <h3>Select By Category</h3>
                            <ul>
                                {% for c in categories %}
                                <li>
                                    <a href="#">{{c.title}}   <span>({{c.category.count}})</span></a> 
                                </li>
                                {% endfor %}
                              
                            </ul>
                        </div>
                        <div class="widget_list widget_color">
                            <h3>Select By SIze</h3>
                            <ul>
                                <li>
                                    <a href="#">S  <span>(6)</span></a> 
                                </li>
                                <li>
                                    <a href="#"> M <span>(8)</span></a> 
                                </li>
                                <li>
                                    <a href="#">L <span>(10)</span></a> 
                                </li>
                                <li>
                                    <a href="#"> XL <span>(6)</span></a> 
                                </li>
                              
                            </ul>
                        </div>
                        <div class="widget_list tags_widget">
                            <h3>Product tags</h3>
                            <div class="tag_cloud">
                                <a href="#">Men</a>
                                <a href="#">Women</a>
                                <a href="#">Watches</a>
                                <a href="#">Bags</a>
                                <a href="#">Dress</a>
                            </div>
                        </div>
                    </div>
                </aside>
                <!--sidebar widget end-->
            </div>
            <div class="col-lg-9 col-md-12">
                <!--shop wrapper start-->
                
                <!--shop toolbar start-->
                <div class="shop_toolbar_wrapper">
                    <div class="shop_toolbar_btn">
                        <button data-role="grid_4" type="button"  class="active  btn-grid-4" data-bs-toggle="tooltip" title="4"></button>
                        <button data-role="grid_3" type="button" class=" btn-grid-3" data-bs-toggle="tooltip" title="3"></button>
                        <button data-role="grid_list" type="button"  class="btn-list" data-bs-toggle="tooltip" title="List"></button>
                    </div>
                    <div class=" niceselect_option">
                        <form class="select_option" action="#">
                            <select name="orderby" id="short">

                                <option selected value="1">Sort by average rating</option>
                                <option  value="2">Sort by popularity</option>
                                <option value="3">Sort by newness</option>
                                <option value="4">Sort by price: low to high</option>
                                <option value="5">Sort by price: high to low</option>
                                <option value="6">Product Name: Z</option>
                            </select>
                        </form>
                    </div>
                    <div class="page_amount">
                        {% if query %}
                            {% if product_count >  0 %}
                                <p>{{ product_count }} Items 🛒 was found</p>
                            {% else %}
                                <p>No products found for "{{ query }}"</p>
                            {% endif %}
                        {% else %}
                            <p>No search item entered.</p>
                        {% endif %}
                    </div>
                </div>
                 <!--shop toolbar end-->
                 <div class="row shop_wrapper">
                    {% for p in products %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 ">
                        <div class="single_product">
                            <div class="product_thumb">
                                <a class="primary_img" href="{% url 'product_detail' p.pid %}"><img src="{{ p.image.url }}" alt=""></a>


                            
                                {% for image in p.productimages_set.all %}
            
                                <a class="secondary_img" href="{% url 'product_detail' p.pid %}">
                                    <img src="{{ image.images.url }}" alt="">
                                </a>
                                    {% endfor %}
                                        <div class="label_product">
                                            <span class="label_sale"> {{p.get_percentage|floatformat:0}}&#37;</span>
                                        </div>
                              
                                <div class="label_product">
                                    <span class="label_sale">-{{p.get_percentage|floatformat:0}}&#37;</span>
                                </div>
                                <div class="action_links">
                                    <ul>
                                        <li class="quick_button"><a href="#" data-bs-toggle="modal" data-bs-target="#modal_box"  title="quick view"> <span class="pe-7s-search"></span></a></li>
                                        <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><span class="pe-7s-like"></span></a></li>
                                        <li class="compare"><a href="#" title="Add to Compare"><span class="pe-7s-edit"></span></a></li>                                                 
                                    </ul>
                                </div>
                            </div>
                            <div class="product_content grid_content">
                                <div class="product_content_inner">
                                    <h4 class="product_name"><a href="{% url 'product_detail' p.pid %}">{{p.title}}</a></h4>
                                    <div class="price_box"> 
                                        <span class="old_price">&#x20A6; {{p.old_price}}</span>
                                        <span class="current_price"> &#x20A6; {{p.price}}</span>
                                    </div>
                                </div>
                                <div class="add_to_cart">
                                    <a href="cart.html">Add to cart</a>
                                </div>
                            </div>
                            <div class="product_content list_content">
                                <h4 class="product_name"><a href="product-details.html">{{p.title}}</a></h4>
                                <div class="price_box"> 
                                    <span class="old_price">&#x20A6; {{p.old_price}}</span>
                                    <span class="current_price"> &#x20A6; {{p.price}}</span>
                                </div>
                                <div class="product_rating">
                                    <ul>
                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product_desc">
                                    <p> {{p.description}}</p>
                                </div>
                                <div class="add_to_cart shop_list_cart">
                                    <a href="cart.html">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="shop_toolbar t_bottom">
                    <div class="pagination">
                        <ul>
                            <li class="current">1</li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li class="next"><a href="#">next</a></li>
                            <li><a href="#">>></a></li>
                        </ul>
                    </div>
                </div>
                <!--shop toolbar end-->
                <!--shop wrapper end-->
            </div>
        </div>
    </div>
</div>
<!--shop  area end-->

    {% endblock  %}